Repository gunjae-yoon/modular-architecture, changes with the labels that .github/labeler.yml gives for each.
All labels: lang/cpp, lang/python, lang/bash, area/infra, build/cmake, build/input

Remove script files
  script/CMakeLists.txt.in
  script/cmake.sh
  script/cmake_uninstall.cmake.in
  script/version.cpp.in
  script/version.h.in
  script/version.sh
Labels: lang/bash, build/input

Add version.txt
  version.txt
Labels: none

Add add default CMakeLists.txt and .cmake scripts for building march-runner application with generating version
  CMakeLists.txt
  cmake/march-runner.cmake
  cmake/version.cmake
  src/cpp/app/march_runner.cpp
Labels: lang/cpp, build/cmake

Add base interfaces for data and modules
  include/march/base/data.h
  include/march/base/module.h
Labels: lang/cpp

Update march-runner.cmake to include the "include" directory
  cmake/march-runner.cmake
Labels: none

Remove instance creation method from Data
  include/march/base/data.h
Labels: lang/cpp

Update library code
  cmake/march.cmake
  include/march/base/module.h
  src/cpp/march/base/module.cpp
Labels: lang/cpp

Imelement march_runner with example data and modules
  CMakeLists.txt
  cmake/example/data/integers.cmake
  cmake/example/data/strings.cmake
  cmake/example/example.cmake
  cmake/example/module/generator.cmake
  cmake/example/module/reverser.cmake
  cmake/march-runner.cmake
  example/cpp/data/integers/integers.cpp
  example/cpp/data/integers/integers.h
  example/cpp/data/strings/strings.cpp
  example/cpp/data/strings/strings.h
  example/cpp/module/generator/generator.cpp
  example/cpp/module/generator/generator.h
  example/cpp/module/reverser/reverser.cpp
  example/cpp/module/reverser/reverser.h
  src/cpp/app/march_runner.cpp
Labels: lang/cpp, build/cmake

Update reverser to reverse data and push it to successors
  example/cpp/module/reverser/reverser.cpp
  example/cpp/module/reverser/reverser.h
Labels: lang/cpp

Add a "printer" module example for printing data
  CMakeLists.txt
  cmake/example/example.cmake
  cmake/example/module/printer.cmake
  example/cpp/module/printer/printer.cpp
  example/cpp/module/printer/printer.h
  src/cpp/app/march_runner.cpp
Labels: lang/cpp, build/cmake

Update runner code to initialize before do something
  src/cpp/app/march_runner.cpp
Labels: lang/cpp

.github/labeler.yml:

lang/cpp:
  - '**/*.cpp'
  - '**/*.cc'
  - '**/*.h'
  - '**/*.hpp'
lang/python:
  - '**/*.py'
lang/bash:
  - '**/*.sh'
area/infra:
  - 'github/**'
  - '.git*'
build/cmake:
  - '**/CMakeLists.txt'
build/input:
  - '**/*.in'
